body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #a49f9f;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
}